<h1> Todo List </h1>
<h3> What you gotta do?</h3>
<form>
  <div>
     add {{input value=todo}}
    {{!-- <input type="text" placeholder="add what you gotta do"> --}}
    <button class="btn" {{action (route-action 'save' todo)}} type="submit" >Add</button>
  </div>
 <br>
 <br>
</form>
 {{!-- To iterate over a list of items, use the {{#each}} --}}
<div class="container">
  <div class="list-group">
  
    {{#each model as |task|}} 
    <div class="row">
      <div class="list-group-item col-md-8">
        {{task.todo}} 
        
          
         <button class="btn" {{action (route-action 'delete' task)}}>Remove</button>
          
      </div>    
      </div>

    {{/each}}
  </div>
</div>

<br>
<div>
  <button class="btn" {{action, 'allTodo'}}> All tasks </button>
  <button class="btn"{{action, 'completeTodo'}}> Complete</button>
  <button class="btn" {{action, 'incompleteTodo'}}> Incomplete </button>
</div>
<br>

<div class="list-group">
  <div class="list-group-item">
    <button class="btn"> Delete All</button>
  </div>
</div>







{{outlet}}